extends ../base

block content
    if errorMessage
        h4=errorMessage
    form(method="POST")
        label(for="title") Title
        input(id="title" name="title" type="text" required maxlength=50)
        label(for="description") Description
        input(id="description" name="description" type="text" required maxlength=100)
        label(for="hashtags") Hashtags
        input(id="hashtags" name="hashtags" type="text" placeholder="Separate by comma")
        input(type="submit" value="Upload")