extends ../base

block content
    div.recorder
        video#preview.hide
        button#recordingBtn Start Recording
    form(method="POST" enctype="multipart/form-data")
        if errorMessage
            div.error-message ⚠ #{errorMessage}
        label(for="video") Video
        input(id="video" name="video" type="file" required accept="video/*")
        label(for="thumbnail") Thumbnail
        input(id="thumbnail" name="thumbnail" type="file" required accept="image/*")
        label(for="title") Title
        input(id="title" name="title" type="text" required maxlength=50)
        label(for="description") Description
        input(id="description" name="description" type="text" required maxlength=100)
        label(for="hashtags") Hashtags
        input(id="hashtags" name="hashtags" type="text" placeholder="Separate by comma")
        input(type="submit" value="Upload")

block scripts
    script(src="/assets/js/recorder.js") 