mixin avatar(user)
    if user.avatarUrl
        if user.avatarUrl[0] === 'h'
            img(src=`${user.avatarUrl}`)
        else
            img(src=`/${user.avatarUrl}`)
    else
        if onDeploy
            img(src="https://rakuun76-wetube.s3.ap-southeast-2.amazonaws.com/avatars/chiikawa")
        else
            img(src="/uploads/chiikawa.png")