mixin videoInfo(video)
    div
        h4
            a(href=`/videos/${video._id}`)=video.title
        small #{video.meta.views} #{(video.meta.views <= 1) ? "view" : "views"}
        br
        small=video.createdAt
        hr