mixin videoInfo(video)
    a(href=`/videos/${video._id}`).videoInfo-mixin
        div.videoInfo-mixin_thumb
        div.videoInfo-mixin_data
            div.videoInfo-mixin_title=video.title
            div.videoInfo-mixin_meta
                span #{video.owner.name} • 
                span #{video.meta.views}회