header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__logo {
    font-size: 50px;
    color: $red;
  }
  .header__search {
    font-size: 18px;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      margin-left: 15px;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  .header__button {
    border-radius: 5px;
    padding: 5px 10px;
    &:hover {
      color: $bg;
      background-color: $clr;
    }
  }
  .header__avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
