.videoInfo-mixin {
  .videoInfo-mixin__thumb {
    height: 140px;
    background-color: beige;
    border-radius: 10px;
  }
  .videoInfo-mixin__data {
    padding: 0 5px;
    .videoInfo-mixin__title {
      font-size: 18px;
      margin-top: 8px;
    }
    .videoInfo-mixin__meta {
      font-size: 14px;
      margin-top: 7px;
      color: #a0a0a0;
      span:first-child:hover {
        color: $clr;
      }
    }
  }
}
