extends base

block content
    form(method="POST")
        label(for="title") Title
        input(type="text" id="title" name="title" value=video.title required)
        label(for="description") Description
        input(type="text" id="description" name="description" value=video.description required)
        label(for="hashtags") Hashtags
        input(type="text" id="hashtags" name="hashtags" value=video.hashtags.join(", ") required)
        input(type="submit" value="Save")