extends base
include mixins/videoInfo

block content
    form.search-form
        input(name="keyword" type="text" required placeholder="Enter the keyword")
        button
            i.fas.fa-search
    
    div.video-grid
        each video in videos
            +videoInfo(video)