extends base
include mixins/video

block content
    form
        input(name="keyword" type="text" required placeholder="Enter the keyword")
        input(type="submit" value="Search")
    
    div
        each video in videos
            +videoInfo(video)