extends ../base

block content
    form(method="POST")
        if errorMessage
            div.errorMessage ❌ #{errorMessage}
        label(for="email") Email
        input(id="email" name="email" type="email" required)
        label(for="password") Password
        input(id="password" name="password" type="password" required)
        input(type="submit" value="Login")
        div.auth-switch
            span Don't have an account? 
            a(href="/users/join") Join
        include ../partials/social-login