extends ../base
include ../mixins/videoInfo
include ../mixins/avatar

block content
    div.profile
        +avatar(user)
        div.profile__name=user.name
        div.profile__email=user.email
        if loggedInUser._id == user._id
            a(href=`${user._id}/edit`).profile__edit-btn Edit profile
    div.video-grid
        each video in user.videos
            +videoInfo(video)
        else
            span.empty-message There is no video 😥