extends ../base
include ../mixins/videoInfo
include ../mixins/avatar

block content
    div.profile
        +avatar(user)
        div.profile_name=user.name
        div.profile_email=user.email
        if loggedInUser._id == user._id
            a(href=`${user._id}/edit`).profile_edit_btn Edit profile
    div.video_grid
        each video in user.videos
            +videoInfo(video)
        else
            span.empty_message There is no video 😥